{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>

.login {
    background: salmon;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 450px;
    border-radius: 25px;
    padding: 20px;
    width: 400px;
    height: 350px;
    align-content: center;
}

.btn {
  background-color: black;
  border: none;
  color: white;
  padding: px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-left: 75px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.container-fluid {
    border: salmon;
}

body {
background-color: 	#FFA07A;
}

</style>

<div class = "login">

    <h1 style="text-align:center">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="container-fluid">
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <br>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}