div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
  }
  
  p {
    border: 1px solid red;
    margin: 0;
  }
  
  table {
    border-collapse: collapse;
  }
  td {
    border: solid 2px red;
  }